<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<div class="detail">
  <div class="spot-details">
    <h1>{{spot.name}}</h1>
    <h3><span>Price (per hour):</span> ${{spot.price}}</h3>

    <br>

    <p><span>Description:</span> {{spot.description}}</p>

    <br>

    <p><span>Address:</span></p>
    <p>{{spot.streetAddress}}</p>
    <p>{{spot.city}}, {{spot.state}} {{spot.zipCode}}, {{spot.country}}</p>

    <br>

    <p><span>Size:</span> {{spot.size}}</p>
    <p><span>Type:</span> {{spot.type}}</p>

    <br>

    <p><span>Availability:<span></p>
    <p><span>From:</span> {{spot.startTime}}</p>
    <p><span>To:</span> {{spot.endTime}}</p>

    <br>

    <p><span>Posted by:</span> {{spot.owner.username}}</p>
    <br>
    {{!-- <h2>Comments</h2>
<div id="comment-box">
  {{#each room.comments}}
  <p>{{content}} <i>{{author.username}}</i></p>
  {{/each}}
</div> --}}

    {{!-- 
{{#if user}}

<form>
  <label for="message">Add a comment</label>
  <input type="text" name="content" id="message">
  <button type="submit">Send</button>
</form>
{{/if}} --}}

    {{#if showEdit}}
    <a href="/parking-spots/edit/{{spot._id}}">Edit this posting</a>
    {{/if}}

    <br>

    {{#if showDelete}}
    <a href="/parking-spots/delete/{{spot._id}}">Delete this posting</a>
    {{/if}}

    <br>

    <a href="/parking-spots/list">Back to available parking spots</a>

    <br>
  </div>
  <div id='map' style='width: 600px; height: 500px; border-radius: 2%; box-shadow: 1px 1px 5px 0 black;'></div>
</div>

<script>
  let spotDetail = {{{ spotDetail }}}
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obm55YWwiLCJhIjoiY2s2ZmQyM29pMHBsNzNlbnZxamNxNTRoYSJ9.27j6sVOZDtK2BXTcKqnEcw';
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [spotDetail.geoLocation.coordinates[0], spotDetail.geoLocation.coordinates[1]],
    zoom: 12.5,
    attributionControl: false
  });

  const nav = new mapboxgl.NavigationControl();
  map.addControl(nav, "top-right"); // where map refers to the name of our instance of Map  

  window.onload = () => {
    const marker = new mapboxgl.Marker({
      draggable: false// we can set a marker to be draggable (we'll see how that is useful), default is false
    });
    marker.setLngLat([spotDetail.geoLocation.coordinates[0], spotDetail.geoLocation.coordinates[1]]);
    marker.addTo(map);
  }

</script>