<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<h2>{{spot.name}}</h2>
<h3>Price (per hour): {{spot.price}}</h3>

<br>

<p>Description: {{spot.description}}</p>

<br>

<p>Address:</p>
<p>{{spot.streetAddress}}</p>
<p>{{spot.city}}, {{spot.state}} {{spot.zipCode}}, {{spot.country}}</p>

<br>

<p>Size: {{spot.size}}</p>
<p>Type: {{spot.type}}</p>

<br>

<p>Availability</p>
<p>From: {{spot.startTime}}</p>
<p>To: {{spot.endTime}}</p>

<br>

<p>Posted by {{spot.owner.username}}</p>

{{!-- <h2>Comments</h2>
<div id="comment-box">
  {{#each room.comments}}
  <p>{{content}} <i>{{author.username}}</i></p>
  {{/each}}
</div> --}}

{{!-- 
{{#if user}}
<form>
  <label for="message">Add a comment</label>
  <input type="text" name="content" id="message">
  <button type="submit">Send</button>
</form>
{{/if}} --}}

{{#if showEdit}}
<a href="/parking-spots/edit/{{spot._id}}">Edit this posting</a>
{{/if}}

<br>

{{#if showDelete}}
<a href="/parking-spots/delete/{{spot._id}}">Delete this posting</a>
{{/if}}

<br>

<a href="/parking-spots/list">Back to List</a>