<div class="add-edit">
  <h1>Edit Your Post</h1>

  <br>

  <form action="/parking-spots/edit/{{spot._id}}" method="POST">
    <div class="add-edit-form">
      <label for="name">Name: </label>
      <input type="text" value="{{spot.name}}" name="name" id="name">
      <br>
      <label for="description">Description: </label>
      <input type="textarea" value="{{spot.description}}" name="description" id="description">

      <br>
      <br>

      <h4><strong>Address:</strong></h4>
      <label for="street">Street address: </label>
      <input type="text" value="{{spot.streetAddress}}" name="streetAddress" id="street">
      <br>
      <label for="city">City: </label>
      <input type="text" value="{{spot.city}}" name="city" id="city">
      <br>
      <label for="state">State: </label>
      <input type="text" value="{{spot.state}}" name="state" id="state">
      <br>
      <label for="zip">Zip Code: </label>
      <input type="text" value="{{spot.zipCode}}" name="zipCode" id="zip">
      <br>
      <label for="country">Country: </label>
      <input type="text" value="{{spot.country}}" name="country" id="country">

      <br>
      <br>

      <label for="type">Type: </label>
      <select value="{{spot.type}}" name="type" id="type">
        <option value="Driveway" {{#if_eq spot.type "Driveway"}}selected{{/if_eq}}>Driveway</option>
        <option value="Street" {{#if_eq spot.type "Street"}}selected{{/if_eq}}>Street</option>
        <option value="Parking lot" {{#if_eq spot.type "Parking lot"}}selected{{/if_eq}}>Parking lot</option>
        <option value="Garage" {{#if_eq spot.type "Garage"}}selected{{/if_eq}}>Garage</option>
      </select>

      <br>

      <label for="size">Size: </label>
      <select value="{{spot.size}}" name="size" id="size">
        <option value="Compact" {{#if_eq spot.size "Compact"}}selected{{/if_eq}}>Compact</option>
        <option value="Midsized" {{#if_eq spot.size "Midsized"}}selected{{/if_eq}}>Midsized</option>
        <option value="Large" {{#if_eq spot.size "Large"}}selected{{/if_eq}}>Large</option>
      </select>

      <br>
      <br>

      <label for="avail-start-date">Available from:</label>
      <input type="date" onload="getDate()" id="avail-start-date" name="startDate">

      <label for="avail-start-time">at:</label>
      <input type="time" id="avail-start-time" name="startTime">

      <br>

      <label for="avail-end-date">Available to:</label>
      <input type="date" id="avail-end-date" name="endDate">

      <label for="avail-end-time">at:</label>
      <input type="time" id="avail-end-time" name="endTime">

      <br>
      <br>

      <label for="price">Price per hour (in USD): </label>
      <input type="number" value="{{spot.price}}" name="price" id="price">

      <br>
      <br>

      <button type="submit">Submit</button>
    </div>
  </form>

  <a href="/parking-spots/detail/{{spot._id}}">Back</a>
</div>