<div class="available-spots">
  <div class="spot-listing">
    {{#if spots}}
    <h1>Available Parking Spots</h1>

    <br>

    <ul>
      {{#each spots}}
      <div class="spot-gen-info">
        <li><a href="/parking-spots/detail/{{_id}}"><b>{{name}}</b>
            <br>
            ${{price}}/hour</a></li>
        <a class="detail-link" href="/parking-spots/detail/{{_id}}">Details</a>
      </div>
      <hr>
      {{/each}}
    </ul>
    {{else}}
    <h1>No parking spots available for the dates/times selected. Please check back later!</h1>
    {{/if}}

    <br>

    <a class="home-btn" href="/">Home</a>
    <br>
    {{#if user}}
    <a class="home-btn" href="/parking-spots/add">
      Post a parking spot
    </a>
    {{/if}}
  </div>
  <div id='map' style='width: 600px; height: 500px; border-radius: 2%; box-shadow: 1px 1px 5px 0 black;'></div>

</div>
<script>
  let spotDetail = {{{ spotDetail }}}
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obm55YWwiLCJhIjoiY2s2ZmQyM29pMHBsNzNlbnZxamNxNTRoYSJ9.27j6sVOZDtK2BXTcKqnEcw';
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-122.4399061, 37.7590262],
    zoom: 10.5,
    attributionControl: false
  });

  const nav = new mapboxgl.NavigationControl();
  map.addControl(nav, "top-right"); // where map refers to the name of our instance of Map  

  window.onload = () => {
    console.log(spotDetail)
    spotDetail.forEach((elem, index) => {
      const marker = new mapboxgl.Marker({
        draggable: false// we can set a marker to be draggable (we'll see how that is useful), default is false
      });
      marker.setLngLat([elem.geoLocation.coordinates[0], elem.geoLocation.coordinates[1]]);
      marker.addTo(map);
    });
  };

</script>